.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
  background-color: #e5ddd5;

  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      input {
        padding: 15px;
        border: none;
        outline: none;
        background-color: #ffffff;
        color: #4a4a4a;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        width: 250px; /* Increased width */
      }

      label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        text-decoration: none;
        color: #075e54;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          opacity: 0.8;
        }
      }

      button {
        width: 100%;
        padding: 15px;
        border: none;
        background-color: #25d366;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 500;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

        &:disabled {
          cursor: not-allowed;
          background-color: #25d3669c;
        }
      }
    }
  }

  .separator {
    height: 80%;
    width: 2px;
    background-color: #075e5435;
  }
}
